<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navegar'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">

    <mat-toolbar>
      <img src="assets/GS1-logo.png" alt="Logo"  height="65">
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item routerLink="/pages/clientes">
        <img src="assets/CODBAR-GS1-2.png" class="custom-icon" alt="Seguridad" width="150px" style="margin-left: auto;">
      </mat-list-item>
      <mat-list-item routerLink="/menus/codbar">
        <img src="assets/CG-3000-2.png" class="custom-icon" alt="Seguridad" width="105px" style="margin-left: auto;">
      </mat-list-item>
      <mat-list-item routerLink="/menus/codbar">
        <img src="assets/ROL-3000-2.png" class="custom-icon" alt="Seguridad" width="105px" style="margin-left: auto;">
      </mat-list-item>
      <mat-list-item routerLink="/pages/">
        <img src="assets/seguridad-2.png" class="custom-icon" alt="Seguridad" width="150px" style="margin-left: auto;">
      </mat-list-item>
      
     
      

      
      
    </mat-nav-list>
    


  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar-gris">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
               routerLink="/login">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
