<div class="zona-container">
  <div class="zona-header">
    <h2>Codigos Contables</h2>
    <button mat-raised-button class="btn-azul" (click)="abrirCrear()" >Nuevo</button>
  </div>

  <div class="zona-busqueda">
    <label for="search">Buscar:</label>
    <div class="input-wrapper">
      <input
        id="search"
        type="text"
        [(ngModel)]="searchTerm"
        (input)="buscar()"
        placeholder="Buscar por nombre , identificacion"
      />
      <img src="assets/icons/icon-buscar.png" alt="Buscar" />
    </div>
  </div>

  <div class="table-wrap" *ngIf="!loading; else loadingTpl">
    <table class="zona-tabla">
      <thead>
        <tr>
          <th style="width: 50px;">Codigo Contable</th>
          <th style="width: 50px;">Identificación</th>
          <th style="width: 120px;">Nombre</th>
          <th style="width: 120px;">Dirección</th>
          <th style="width: 80px;">No. Teléfono</th>
          <th style="width: 80px;">No. Celular</th>
          <th style="width: 80px;">Correo</th>
          <th style="width: 80px;">Razon Social</th>
          <th style="width: 80px;">Actividad Comercial</th>
          <th style="width: 80px;">Código Persona</th>
          <th class="col-opcion">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let it of filtered; trackBy: trackById">
          <td>{{ it.IdCodContable }}</td>
          <td>{{ it.Identificacionauxiliar }}</td>
          <td>{{ it.Nombreauxiliar }}</td>
          <td>{{ it.Direccionauxiliar }}</td>
          <td>{{ it.Telefonoauxiliar }}</td>
          <td>{{ it.Celularauxiliar }}</td>
          <td>{{ it.Emailauxiliar }}</td>
          <td>{{ it.Razonsocial }}</td>
          <td>{{ it.ActividadComercial }}</td>
           <td>{{ it.IdPersona }}</td>
          <td class="acciones">
            <!-- Opción A: botón con ícono dentro -->
            <button type="button" class="icon-btn"   (click)="abrirEditar(it.IdCodContable)" title="Editar" >
              <img src="assets/icons/icon-modificar-3.png" alt="Editar" />
            </button>

            <!-- Si luego agregas más acciones, repite el mismo patrón -->
            <!-- <button type="button" class="icon-btn" title="Eliminar">
              <img src="assets/icons/icon-delete.png" alt="Eliminar" />
            </button> -->
          </td>
        </tr>

        <tr *ngIf="filtered.length === 0">
          <td colspan="5" class="empty">No hay resultados.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #loadingTpl>
    <div class="loading">Cargando...</div>
  </ng-template>
</div>

