<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">

    <mat-toolbar>
      <img src="assets/GS1-logo.png" alt="Logo" height="65" [routerLink]="'/menus'" style="cursor: pointer;">
    </mat-toolbar>

    <mat-nav-list>

      <mat-list-item routerLink="/pages/dashboard">
        <img src="assets/ecop-nuevo-cliente.png" width="17px" mat-list-icon>
        <div mat-line style="font-size: 12px;">Nuevo Cliente</div>
      </mat-list-item>
      

      <mat-list-item routerLink="/pages/usuarios">
        <img src="assets/Ecop-explorador-clientes.png" width="17px" mat-list-icon>
        <div mat-line style="font-size: 12px;">Explorador Cliente</div>
      </mat-list-item>

      <mat-list-item routerLink="/pages/productos">
        <img src="assets/Ecop-envio-veried.png" width="17px" mat-list-icon>
        <div mat-line style="font-size: 12px;">Envió Verified by GS1</div>
      </mat-list-item>

      <mat-list-item routerLink="/pages/vender">
        <img src="assets/ecop-.png" width="17px" mat-list-icon>
        <div mat-line style="font-size: 12px;">Verified</div>
      </mat-list-item>

      
    </mat-nav-list>
    


  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar-gris">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
               routerLink="/login">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
