.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.example-spacer {
  flex: 1 1 auto;
}
.toolbar-gris {
  background-color: #e0e0e0 !important;
  color: #000 !important;
  height: 48px;
  min-height: 48px;
}