<section class="content-container">
  <div class="content-title-container">
    <h1 class="content-title">Mantenimiento Tipo de Cliente</h1>
    <div class="content-actions">
      <div class="search-container">
        <label for="search" class="search-label">Buscar:</label>
        <div class="search-input-container">
          <div class="search-icon-container">
            <img
              src="https://cdn.builder.io/api/v1/image/assets/deda0b23bea74a6aa3a468b7b4b32e73/ab2d235e1a254e5c350c0a713cb8b7a11eb36381?placeholderIfAbsent=true"
              alt="Search icon"
              class="search-icon"
            />
            <input
              id="search"
              type="text"
              (input)="applyFilter($event)"
              placeholder="Buscar tipo de cliente"
            />
          </div>
        </div>
      </div>

      <div class="action-buttons">
        <button class="new-button" (click)="crearTipoCliente()">Nuevo</button>
      </div>
    </div>
  </div>

  <table class="data-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Código</th>
        <th>Descripción</th>
        <th>Cuenta</th>
        <!-- <th>Empresa</th> -->
        <th>Estado</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tipo of paginatedTipoClientes; let i = index">
        <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
        <td>{{ tipo.id_tipo_cliente }}</td>
        <td>{{ tipo.descripcion }}</td>
        <td>{{ tipo.cuenta }}</td>
        <!-- <td>{{ tipo.empresa }}</td> -->
        <td>{{ tipo.estado ? 'ACTIVO' : 'INACTIVO' }}</td>
        <td>
          <button class="edit-button" (click)="editarTipoCliente(tipo.id_tipo_cliente)">
            <img src="assets/icons/icon-modificar-3.png" alt="Editar" />
          </button>
        </td>
      </tr>
      <tr *ngIf="paginatedTipoClientes.length === 0">
        <td colspan="7">No hay tipos de cliente disponibles.</td>
      </tr>
    </tbody>
  </table>

  <mat-paginator
    [length]="filteredTipoClientes.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="handlePageEvent($event)">
  </mat-paginator>
</section>
