<body>
  <div class="login-container">
    <form [formGroup]="formRecuperacion" (ngSubmit)="enviarCorreo()" class="login-form">
      <div class="login-card">
        <div class="header-container">
          <img src="assets/logo/logo-gap.png" alt="Logo GAP" class="logo-image" />
          <h1 class="welcome-text">Recuperar contraseña</h1>
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="email" class="field-label">Correo electrónico:</label>
          <input type="email" id="email" class="input-field" formControlName="email"
            placeholder="Ingresa tu correo electrónico" required />
          <div *ngIf="formRecuperacion.get('email')?.invalid && formRecuperacion.get('email')?.touched"
            style="color: red; font-size: 13px;">
            Ingresa un correo válido.
          </div>
        </div>

        <!-- Botón -->
        <div class="login-button-container">
          <button class="login-button" type="submit" [disabled]="formRecuperacion.invalid || enviado">
            Enviar enlace
          </button>
        </div>

        <!-- Footer -->
        <div class="forgot-password">
          <a routerLink="/login">← Volver al login</a>
        </div>

      </div>
    </form>
  </div>
</body>
