<!-- perfiles-list.component.html -->
<div class="tabs">
  <button *ngFor="let sistema of sistemas" [class.active]="sistema.nombre === sistemaActivo"
    (click)="seleccionarSistema(sistema.nombre,sistema.id_sistema)">
    {{ sistema.nombre }}
  </button>
  <button class="btn-accion" title="Nuevo sistema" (click)="crearEntidad('sistema')">+</button>
</div>

<div class="contenido-tablas">

  <div class="encabezado-acciones">
    <h2>Tabla de Perfiles</h2>

    <div>
      <input type="text" placeholder="🔍 Buscar por código o nombre" [(ngModel)]="filtroPerfil" class="input-filtro" />
    </div>

    <div class="form-actions form-actions-horizontal alineado-derecha">
      <button (click)="seleccionarBoton('nuevo'); onNuevoPerfil()" [class.activo]="botonActivo === 'nuevo'">
        Nuevo Perfil
      </button>
    </div>
  </div>


  <div class="tabla-scrollable">
    <table class="tabla-estilo">
      <thead>
        <tr>
          <th class="col-reducida">Código</th>
          <th>Perfil</th>
          <th class="col-reducida">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let perfil of perfilesFiltrados" [class.fila-activa]="perfil.id_perfil === perfilSeleccionado"
          (click)="seleccionarPerfil(perfil.id_perfil)" style="cursor: pointer;">
          <td>{{ perfil.id_perfil }}</td>
          <td>{{ perfil.nombre }}</td>
          <td>
            <button (click)="editarPerfil(perfil); $event.stopPropagation()" title="Editar">
              <img src="assets/icons/icon-modificar-3.png" width="20" />
            </button>
            <button (click)="eliminarPerfil(perfil.id_perfil); $event.stopPropagation()" title="Eliminar">
              <img src="assets/icons/icon-basurero.png" width="20" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="tablas-panel">
    <!-- Módulos -->
    <div class="panel-col">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h3>Módulos</h3>
        <button title="Nuevo módulo" (click)="crearEntidad('modulo')" class="btn-accion">+</button>
      </div>
      <table class="tabla-estilo">
        <thead>
          <tr>
            <th class="ocultar-id">ID</th>
            <th>Módulo</th>
            <th>Todo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let modulo of modulos" [class.fila-activa]="modulo.id_modulo === moduloSeleccionado">
            <td class="ocultar-id">{{ modulo.id_modulo }}</td>
            <td (click)="seleccionarModulo(modulo.id_modulo)" style="cursor: pointer;">
              {{ modulo.nombre }}
            </td>
            <td class="col-reducida">
              <input type="checkbox" [checked]="esModuloCompletamenteAsignado(modulo.id_modulo)"
                (change)="detenerYAplicarCambioModulo($event, modulo.id_modulo)" />
            </td>
          </tr>
        </tbody>

      </table>
    </div>

    <!-- Menús -->
    <div class="panel-col">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h3>Menús</h3>
        <button title="Nuevo menú" (click)="crearEntidad('menu')" class="btn-accion">+</button>
      </div>
      <table class="tabla-estilo">
        <thead>
          <tr>
            <th class="ocultar-id">ID</th>
            <th>Menú</th>
            <th>Tiene_Acceso</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let menu of menus" [ngClass]="{
            'fila-activa': menu.id_menu === menuSeleccionado,
            'menu-con-opciones': menu.tieneOpciones,
            'menu-con-opciones-completo': menu.todasAsignadas
          }" (click)="seleccionarMenu(menu.id_menu)" style="cursor: pointer;">
            <td class="ocultar-id">{{ menu.id_menu }}</td>
            <td>{{ menu.nombre }}</td>
            <td class="col-reducida">
              <input type="checkbox" [checked]="menu.todasAsignadas" (click)="$event.stopPropagation()"
                (change)="onToggleTodoOpciones(menu)" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Opciones -->
    <div class="panel-col">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h3>Opciones</h3>
        <button title="Nueva opción" (click)="crearEntidad('opcion')" class="btn-accion">+</button>
      </div>
      <table class="tabla-estilo">
        <thead>
          <tr>
            <th class="ocultar-id">ID</th>
            <th>Opción</th>
            <th>Tiene_Acceso</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let opcion of opcionnes">
            <td class="ocultar-id">{{ opcion.id_opcion }}</td>
            <td>{{ opcion.nombre }}</td>
            <td class="col-reducida">
              <input type="checkbox" [(ngModel)]="opcion.status" (change)="onToggleOpcion(opcion)" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>

</div>
