<div class="contenedor-formulario">
  <h2>Editar GTIN - Ingreso Único de Venta</h2>

  <form class="formulario" [formGroup]="formUV">
    <div class="form-grid">

      <!-- Datos del cliente -->
      <div class="corto">
        <label for="codigoCliente">Código:</label>
        <input id="codigoCliente" type="text" formControlName="codigoCliente" readonly />
      </div>

      <div class="col-2">
        <label for="cliente">Cliente:</label>
        <input id="cliente" type="text" formControlName="cliente" readonly />
      </div>

      <div>
        <label for="ruc">RUC:</label>
        <input id="ruc" type="text" formControlName="ruc" readonly />
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Prefijo</mat-label>
        <mat-select formControlName="gcp" (selectionChange)="onPrefijoBlur()" [disabled]="true">
          <mat-option *ngFor="let prefijo of prefijos" [value]="prefijo.id_prefijos">
            {{ prefijo.codpre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <label for="gln">GLN®:</label>
        <input id="gln" type="text" formControlName="gln" readonly />
      </div>

      <!-- GTIN: Nacional, Internacional, Serie, UV, Tipo -->
      <div class="full-width fila-gtin-combo">
        <div class="combo-gtin">
          <label>Nacional</label>
          <mat-form-field appearance="fill" class="select-pequeno">
            <mat-select formControlName="gtinNacionalSeleccionado"
              (selectionChange)="formUV.get('gtinInternacionalSeleccionado')?.reset()">
              <mat-option value="GTIN-13">GTIN-13</mat-option>
              <mat-option value="GTIN-8">GTIN-8</mat-option>
              <mat-option value="UPC">GTIN-12</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="combo-gtin">
          <label>Internacional</label>
          <mat-form-field appearance="fill" class="select-pequeno">
            <mat-select formControlName="gtinInternacionalSeleccionado"
              (selectionChange)="formUV.get('gtinNacionalSeleccionado')?.reset()">
              <mat-option value="GTIN-13I">GTIN-13I</mat-option>
              <mat-option value="GTIN-8I">GTIN-8I</mat-option>
              <mat-option value="GTIN-12I">GTIN-12I</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="combo-gtin serie-inline">
          <label class="checkbox-serie" readonly>
            <input type="checkbox" formControlName="activo" /> Activo
          </label>

        </div>
        <div class="combo-gtin">
          <label>GTIN® UV:</label>
          <input type="text" formControlName="gtinUv" [readonly]="formUV.get('gtinUv')?.disabled || false"
            [attr.maxLength]="longitudMaxima" (keypress)="permitirSoloNumeros($event)"
            [ngClass]="{ 'input-verde': campoGtin }" readonly />


          <div *ngIf="formUV.get('gtinUv')?.hasError('codbarExistente')" class="mensaje-error">⚠️ Ya registrado.</div>
        </div>
        <div class="combo-gtin">
          <label>Tipo GTIN®:</label>
          <input type="text" formControlName="tipoGtin" readonly />
        </div>
      </div>

      <!-- Campos editables principales -->
      <div class="col-2">
        <label>Descripción:</label>
        <input type="text" formControlName="descripcion" (blur)="convertirAMayusculas('descripcion')" />
      </div>

      <div>
        <label>Marca:</label>
        <input type="text" formControlName="marca" (blur)="convertirAMayusculas('marca')" />
      </div>

      <div>
        <label>Contenido:</label>
        <input type="text" formControlName="contenido" (keypress)="validarNumeroDecimal($event)" />
      </div>


      <!-- Unidad de medida -->
      <mat-form-field>
        <mat-label>Unidad</mat-label>
        <input matInput formControlName="unidadMedida" [matAutocomplete]="autoUnidad" placeholder="Seleccione Unidad" />
        <button matSuffix mat-icon-button *ngIf="formUV.get('unidadMedida')?.value" (click)="limpiarUnidadMedida()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #autoUnidad="matAutocomplete" [displayWith]="displayWithUnidadMedida"
          (optionSelected)="seleccionarUnidadMedida($event.option.value)">
          <mat-option *ngFor="let u of unidadesMedidaFiltradas" [value]="u">
            {{ u.descripcion }} - {{ u.unidad }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Categoría -->
      <mat-form-field>
        <mat-label>Categoría</mat-label>
        <input matInput formControlName="categoria" [matAutocomplete]="autoCategoria"
          placeholder="Seleccione Categoría" />
        <button matSuffix mat-icon-button *ngIf="formUV.get('categoria')?.value" (click)="limpiarCategoria()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #autoCategoria="matAutocomplete" [displayWith]="displayWithCategoria"
          (optionSelected)="seleccionarCategoria($event.option.value)">
          <mat-option *ngFor="let cat of categoriasFiltradas" [value]="cat">
            {{ cat.desBrick }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Brick -->
      <div>
        <label>GCP® BRICK:</label>
        <input type="text" formControlName="brick" readonly />
      </div>

      <!-- País y Sector -->
      <mat-form-field>
        <mat-label>Pais </mat-label>
        <input matInput formControlName="pais" [matAutocomplete]="autoPais" placeholder="Seleccione País" />
        <button matSuffix mat-icon-button *ngIf="formUV.get('pais')?.value" (click)="formUV.get('pais')?.reset()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #autoPais="matAutocomplete" [displayWith]="displayWithPais">
          <mat-option *ngFor="let p of paisFiltrados" [value]="p">
            {{ p.nombre }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sector</mat-label>
        <input matInput formControlName="sector" [matAutocomplete]="autoSector" placeholder="Seleccione Sector" />
        <button matSuffix mat-icon-button *ngIf="formUV.get('sector')?.value" (click)="limpiarSector()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #autoSector="matAutocomplete" [displayWith]="displayWithSector"
          (optionSelected)="seleccionarSector($event.option.value)">
          <mat-option *ngFor="let s of sectoresFiltrados" [value]="s">
            {{ s.descripcion }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="feccre" readonly />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>






      <!-- URL y Observación alineados -->
      <div class="fila-inline full-width">
        <div class="campo-url">
          <label>URL foto:</label>
          <input type="text" formControlName="urlFoto" />
        </div>

        <div class="campo-observacion">
          <label>Observación:</label>
          <textarea formControlName="observacion" rows="1" (blur)="convertirAMayusculas('observacion')"></textarea>
        </div>
      </div>



      <!-- Empresas -->
      <div class="checkbox-contenedor full-width" formGroupName="empresas">
        <label><input type="checkbox" formControlName="favorita" /> La Favorita</label>
        <label><input type="checkbox" formControlName="mega" /> Mega Santa María</label>
        <label><input type="checkbox" formControlName="amazon" /> Amazon</label>
        <label><input type="checkbox" formControlName="rosario" /> El Rosario</label>
        <label><input type="checkbox" formControlName="tia" /> TIA</label>
        <label><input type="checkbox" formControlName="google" /> Google</label>
        <label><input type="text" placeholder="Otros:" formControlName="otrosSolicitantes" /></label>
      </div>

    </div>

    <div class="botones">

      <button class="btn" type="button" (click)="habilitarModificar()" [disabled]="botonGenerarDeshabilitado">
        Modificar
      </button>

      <button class="btn btn-azul" type="button" (click)="modificarProducto()" [disabled]="botonGrabarDeshabilitado">
        Grabar
      </button>

      <button class="btn btn-rojo" type="button" (click)="salir()">Salir</button>

    </div>
  </form>


  <!-- Sección UL -->
  <h2 class="separador">UNIDAD LOGÍSTICA GTIN-14</h2>
  <ng-container>


   <ag-grid-angular
  class="ag-theme-alpine"
  style="width: 100%; height: 300px;"
  [rowData]="registrosGtin14"
  [columnDefs]="columnDefsGtin14"
  [defaultColDef]="defaultColDef"
  rowSelection="single"
  (rowDoubleClicked)="seleccionarRegistroU($event.data)">
</ag-grid-angular>


  </ng-container>

</div>