<h2 mat-dialog-title>Agregar Dirección</h2>

<mat-dialog-content>
  <div class="dialog-form-container">
    <form [formGroup]="direccionForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo">
          <mat-option value="Otro">Otro</mat-option>
          <mat-option value="Trabajo">Trabajo</mat-option>
          <mat-option value="Casa">Casa</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Calle*</mat-label>
        <input matInput formControlName="calle">
        <mat-error *ngIf="direccionForm.get('calle')?.hasError('required')">
          Campo obligatorio
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Código Postal</mat-label>
        <input matInput formControlName="codigoPostal">
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cerrar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</mat-dialog-actions>
