<div class="wrap">
  <mat-card class="card">

    <!-- TOP: selector conciliación -->
    <div class="top-search" [formGroup]="buscarForm">



      <button mat-stroked-button class="btn" (click)="onNuevaConciliacion()" [disabled]="loading">
        <mat-icon>add</mat-icon>
        Nueva
      </button>

      <!-- Guardar (dropdown VB6) -->
      <button mat-raised-button color="primary" class="btn" [matMenuTriggerFor]="menuGuardar"
        [disabled]="loading || isLocked || !canAbrirMenuGuardar">
        <mat-icon>save</mat-icon>
        Guardar
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <mat-menu #menuGuardar="matMenu">
        <button mat-menu-item (click)="onGuardarParcial()" [disabled]="loading || isLocked || !canGuardarParcial">
          <mat-icon>save_as</mat-icon>
          Conciliación parcial
        </button>

        <button mat-menu-item (click)="onGuardarTotal()" [disabled]="loading || isLocked || !canGuardarTotal">
          <mat-icon>check_circle</mat-icon>
          Conciliación total
        </button>
      </mat-menu>

      <button mat-stroked-button class="btn" (click)="onCargar()" [disabled]="!canCargar">
        <mat-icon>download</mat-icon>
        {{ labelCargar }}
      </button>

      <div class="spacer"></div>

      <button mat-stroked-button color="warn" class="btn" (click)="onCancelar()" [disabled]="loading">
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
    </div>

    <div class="sub-title">
      <div class="h1">Conciliación Bancaria</div>

      <!-- VB6: EN PROCESO vs CONCILIADO -->
      <div class="h2" *ngIf="!isLocked">EN PROCESO</div>
      <div class="h2" *ngIf="isLocked">
        CONCILIADO <span *ngIf="idConciliacion"> • Id: {{ idConciliacion }}</span>
      </div>
    </div>

    <mat-divider></mat-divider>

    <!-- CABECERA -->
    <form [formGroup]="form" class="cabecera">

      <div class="grid-3">

        <!-- Plan de Cuenta usa planForm -->
        <div [formGroup]="planForm">
          <mat-form-field appearance="fill" class="ff compact">
            <mat-label>Plan de Cuenta</mat-label>

            <input matInput type="text" formControlName="planCuentaBuscar" [matAutocomplete]="autoPlan"
              [disabled]="isLocked" placeholder="Buscar por id, cuenta o nombre..." />

            <mat-autocomplete #autoPlan="matAutocomplete" [displayWith]="displayPlanCuenta"
              (optionSelected)="onPlanCuentaSelected($event.option.value)">
              <mat-option *ngIf="loadingPlan" disabled>Cargando...</mat-option>

              <mat-option *ngFor="let p of planCuentasFiltradas" [value]="p">
                <b>#{{ p.IdPlanCuentas }}</b>
                &nbsp;•&nbsp; {{ p.CuentaPresentacion }}
                &nbsp;—&nbsp; {{ p.NombreCuenta || p.Descripcion }}
              </mat-option>

              <mat-option *ngIf="!loadingPlan && planCuentasFiltradas.length === 0" disabled>
                Sin resultados
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill" class="ff compact">
          <mat-label>Cuenta Bancaria</mat-label>
          <input matInput formControlName="codprePc" [disabled]="isLocked" placeholder="110102-001"
            (blur)="onBlurDatosCabecera()" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="ff compact">
          <mat-label>Descripción</mat-label>
          <input matInput formControlName="descripcion" [disabled]="isLocked" />
        </mat-form-field>
      </div>

      <div class="grid-3">
        <mat-form-field appearance="fill" class="ff compact">
          <mat-label>Fecha Inicial</mat-label>
          <input matInput [matDatepicker]="dpIni" formControlName="fechaInicial" [disabled]="isLocked"
            (dateChange)="onBlurDatosCabecera()" (blur)="onBlurDatosCabecera()" />
          <mat-datepicker-toggle matSuffix [for]="dpIni"></mat-datepicker-toggle>
          <mat-datepicker #dpIni></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="ff compact">
          <mat-label>Fecha Final</mat-label>
          <input matInput [matDatepicker]="dpFin" formControlName="fechaFinal" [disabled]="isLocked"
            (dateChange)="onBlurDatosCabecera()" (blur)="onBlurDatosCabecera()" />
          <mat-datepicker-toggle matSuffix [for]="dpFin"></mat-datepicker-toggle>
          <mat-datepicker #dpFin></mat-datepicker>
        </mat-form-field>


      </div>

      <div class="grid-6">
        <mat-form-field appearance="fill" class="ff compact">
          <mat-label>Saldo Contable Inicial</mat-label>
          <input matInput type="number" formControlName="saldcontini" [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="ff compact">
          <mat-label>Saldo Contable Final</mat-label>
          <input matInput type="number" formControlName="saldcontfin" [readonly]="true" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="ff compact">
          <mat-label>Saldo Bancario Inicial</mat-label>
          <input matInput type="number" formControlName="saldbancini" [disabled]="isLocked" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="ff compact">
          <mat-label>Saldo Bancario Final</mat-label>
          <input matInput type="number" formControlName="saldbancfin" [disabled]="isLocked" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="ff compact">
          <mat-label>Id Empresa</mat-label>
          <input matInput type="number" formControlName="idEmpresa" [disabled]="isLocked" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="ff compact">
          <mat-label>Id Usuario</mat-label>
          <input matInput type="number" formControlName="idUsuario" [disabled]="isLocked" />
        </mat-form-field>
      </div>
    </form>

    <!-- Saldos Conciliados -->
    <div class="section-title">Saldos Conciliados</div>
    <div class="grid grid-small ag-theme-alpine">
      <ag-grid-angular [rowData]="[saldosConciliados]" [columnDefs]="colSaldos" [defaultColDef]="defaultColDef"
        (gridReady)="onGridSaldosReady($event)" [headerHeight]="32" [rowHeight]="32"></ag-grid-angular>
    </div>

    <!-- barra búsqueda grid -->
    <div class="search-bar">


      <div class="search-grid">


        <button mat-stroked-button class="btn btn-lite" (click)="marcarTodos()" [disabled]="isLocked">
          <mat-icon>done_all</mat-icon>
          Marcar todo
        </button>

        <button mat-stroked-button class="btn btn-lite" (click)="desmarcarTodos()" [disabled]="isLocked">
          <mat-icon>remove_done</mat-icon>
          Desmarcar
        </button>
      </div>
    </div>

    <!-- DETALLE -->
    <div class="section-title">Movimientos</div>
    <div class="grid grid-main ag-theme-alpine">
      <ag-grid-angular [rowData]="movimientos" [columnDefs]="colMov" [defaultColDef]="defaultColDef"
        [rowClassRules]="rowClassRules" (gridReady)="onGridMovReady($event)"
        (cellValueChanged)="onMovCellValueChanged($event)" (cellDoubleClicked)="onMovCellDoubleClicked($event)"
        (cellClicked)="onMovCellClicked($event)" [singleClickEdit]="true" [stopEditingWhenCellsLoseFocus]="true"
        [animateRows]="true" [headerHeight]="34" [rowHeight]="34"></ag-grid-angular>
    </div>

    <!-- RESUMEN -->
    <div class="section-title">Saldos por Conciliar</div>
    <div class="grid grid-bottom ag-theme-alpine">
      <ag-grid-angular [rowData]="resumenRows" [columnDefs]="colResumen" [defaultColDef]="defaultColDef"
        (gridReady)="onGridResumenReady($event)" [headerHeight]="32" [rowHeight]="32"></ag-grid-angular>
    </div>

  </mat-card>
</div>