<div class="form-contenedor">
  <h2>Creación de Usuario</h2>

  <form class="form-grid">
    <!-- Columna izquierda -->
    <div class="form-col">
      <label>Usuario:</label>
      <div class="input-con-icono">
        <img src="assets/icons/icon-user.svg" />
        <input type="email" placeholder="ejemplo@gs1.com" />
      </div>

      <label>Clave:</label>
      <div class="input-con-icono">
        <img src="assets/icons/icon-visibility.svg" />
        <input type="password" />
      </div>

      <label>Correo:</label>
      <input type="email" />

      <label>Perfil:</label>
      <select>
        <option value="">Seleccione</option>
      </select>

      <label>Fecha de Caducidad:</label>
      <input type="date" />
    </div>

    <!-- Columna derecha -->
    <div class="form-col">
      <label>Confirmación de clave:</label>
      <div class="input-con-icono">
        <img src="assets/icons/icon-visibility.svg" />
        <input type="password" />
      </div>

      <label>Fecha de Creación:</label>
      <input type="date" />

      <label>Estado:</label>
      <select>
        <option value="">Seleccione</option>
      </select>

      <label>Departamento:</label>
      <select>
        <option value="">Seleccione</option>
      </select>
    </div>
  </form>

  <div class="form-botones">
    <button class="btn-grabar">Grabar</button>
    <button class="btn-cancelar">Cancelar</button>
  </div>
</div>
