<mat-sidenav-container class="sidenav-container" [ngClass]="{
  'collapsed': !isExpanded && !isHandset,
  'mobile': isHandset
}">
  <!-- SIDEBAR -->
  <mat-sidenav #drawer
              class="sidenav"
              [mode]="isHandset ? 'over' : 'side'"
              [opened]="!isHandset || isExpanded"
              [class.collapsed]="!isExpanded && !isHandset"
              [fixedInViewport]="true"
              (backdropClick)="isExpanded = false">

    <div class="logo-seguridad" *ngIf="isExpanded">
      <img src="assets/logo/seguridad.png" alt="Logo">
    </div>

    <!-- Menú Principal -->
    <mat-nav-list>

      <!-- Toggle Sidebar -->
      <mat-list-item (click)="toggleSidebar()" class="menu-toggle">
        <mat-icon>menu</mat-icon>
        <span *ngIf="isExpanded" class="menu-text">Menú</span>
      </mat-list-item>

      <!-- Acordeón -->
      <mat-accordion [multi]="false">
        <!-- INVENTARIOS -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img src="assets/icons/icon-Usuario-perfil.png" class="menu-icon">
              <span *ngIf="isExpanded" class="menu-text">Inventarios</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a mat-list-item routerLink="">
            <span *ngIf="isExpanded" class="menu-text">Estructura Comercial</span>
          </a>
          <a mat-list-item routerLink="">
            <span *ngIf="isExpanded" class="menu-text">Producto</span>
          </a>
          <a mat-list-item routerLink="">
            <span *ngIf="isExpanded" class="menu-text">Transacción</span>
          </a>
          <a mat-list-item routerLink="">
            <span *ngIf="isExpanded" class="menu-text">Kardex</span>
          </a>
          <a mat-list-item routerLink="">
            <span *ngIf="isExpanded" class="menu-text">Reportes</span>
          </a>
          <a mat-list-item routerLink="">
            <span *ngIf="isExpanded" class="menu-text">Configuración</span>
          </a>
        </mat-expansion-panel>

          <!-- FACTURACION-->
        <mat-expansion-panel>
         <mat-expansion-panel-header>
    <mat-panel-title>
      <img src="assets/icons/icon-Usuario-perfil.png" class="menu-icon">
      <span *ngIf="isExpanded" class="menu-text">Facturación</span>
    </mat-panel-title>
         </mat-expansion-panel-header>

  <!-- Subgrupo: Facturación -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span *ngIf="isExpanded" class="menu-text">Facturación</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Nivel 3: Facturacion -->
     <a mat-list-item routerLink="">
      <span *ngIf="isExpanded" class="menu-text">Fac Individual</span>
    </a>
    <a mat-list-item routerLink="">
      <span *ngIf="isExpanded" class="menu-text">Fac Global</span>
    </a>
    <a mat-list-item routerLink="">
      <span *ngIf="isExpanded" class="menu-text">Fac Anuladas</span>
    </a>
    <a mat-list-item routerLink="">
      <span *ngIf="isExpanded" class="menu-text">Documentos Electrónicos</span>
    </a>
    <a mat-list-item routerLink="">
      <span *ngIf="isExpanded" class="menu-text">Reporte de Facturación</span>
    </a>
    <a mat-list-item routerLink="">
      <span *ngIf="isExpanded" class="menu-text">Notas De Débito / Crédito</span>
    </a>
    <a mat-list-item routerLink="">
      <span *ngIf="isExpanded" class="menu-text">Anticipos</span>
    </a>
    <a mat-list-item routerLink="">
      <span *ngIf="isExpanded" class="menu-text">Explorador Documentos Contables</span>
    </a>
    <a mat-list-item routerLink="">
      <span *ngIf="isExpanded" class="menu-text">Reenvío Documentos Electrónicos</span>
    </a>

  </mat-expansion-panel>
  


  </mat-expansion-panel>


        <!-- CUENTAS POR COBRAR-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img src="assets/icons/icon-Usuario-perfil.png" class="menu-icon">
              <span *ngIf="isExpanded" class="menu-text">Cuentas por cobrar</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          </mat-expansion-panel>

        <!-- CONFIGURACION-->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img src="assets/icons/icon-Usuario-perfil.png" class="menu-icon">
              <span *ngIf="isExpanded" class="menu-text">Configuración</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          </mat-expansion-panel>

      </mat-accordion>

      <!-- Salir -->
      <mat-list-item routerLink="/inicio" class="salir-item">
        <div class="menu-item">
          <img src="assets/icons/icon-salir.png" class="menu-icon">
          <span *ngIf="isExpanded" class="menu-text salir-text">Salir</span>
        </div>
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

         <!-- FOODER -->
  <mat-sidenav-content [ngClass]="isExpanded ? 'content-default' : 'content-collapsed'">
    <router-outlet></router-outlet>
    <footer class="app-footer" [ngClass]="{ 'footer-collapsed': !isExpanded && !isHandset }">
      <div class="footer-left">{{ currentDateTime }}</div>
      <div class="footer-center">
        <img src="assets/logo/logo-gap.png" alt="GAP System" class="footer-logo">
        <span class="footer-phone">Telf: 099 970 0288 / 022 464 951</span>
      </div>
    </footer>
  </mat-sidenav-content>
