<!-- usuarios-list.component.html -->
<div class="contenido-tablas">

  <div class="encabezado-acciones">
    <h2 style="margin-right: auto;">Tabla de Usuarios</h2>

    <div class="form-actions form-actions-horizontal alineado-derecha">
      <input type="text" placeholder="🔍 Buscar por nombre o correo" [(ngModel)]="filtroUsuario" class="input-filtro" />
      <button (click)="onNuevoUsuario()" [class.activo]="botonActivo === 'nuevo'">
        Nuevo Usuario
      </button>
    </div>
  </div>

  <div class="tabla-scrollable">
    <table class="tabla-estilo">
      <thead>
        <tr>
          <th class="ocultar-id">ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Rol</th>
          <th class="col-reducida">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuariosFiltrados" [class.fila-activa]="usuario.id === usuarioSeleccionado"
            (click)="seleccionarUsuario(usuario.id)" style="cursor: pointer;">
          <td class="ocultar-id">{{ usuario.id }}</td>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.correo }}</td>
          <td>{{ usuario.rol }}</td>
          <td>
            <button (click)="editarUsuario(usuario); $event.stopPropagation()" title="Editar">
              <img src="assets/icons/icon-modificar-3.png" width="20" />
            </button>
            <button (click)="eliminarUsuario(usuario.id); $event.stopPropagation()" title="Eliminar">
              <img src="assets/icons/icon-basurero.png" width="20" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
