<mat-card style="margin: 20px 40px 40px 40px">
  <mat-card-content class="dashboard-card-content">

    <mat-form-field appearance="standard">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)"  #input>
    </mat-form-field>

    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="dataSource">

        <!-- Codigo Column -->
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Dirección Column -->
        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef> Dirección </th>
          <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
        </ng-container>

        <!-- RUC Column -->
        <ng-container matColumnDef="ruc">
          <th mat-header-cell *matHeaderCellDef> RUC </th>
          <td mat-cell *matCellDef="let element"> {{element.ruc}} </td>
        </ng-container>

        <!-- Fecha Ingreso Column -->
        <ng-container matColumnDef="fingreso">
          <th mat-header-cell *matHeaderCellDef> Fecha de Ingreso </th>
          <td mat-cell *matCellDef="let element"> {{element.fingreso}} </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="width:80px"> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="editarCliente(element)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="7">No data matching the filter "{{input.value}}"</td>
        </tr>

      </table>

      <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
