<ng-container *ngIf="!selectedCliente; else menuConCliente">
  <!-- Vista cuando NO hay cliente seleccionado -->
  <h1 style="margin:0px 0px 0px 40px">Clientes</h1>
  <mat-card style="margin: 0px 40px 40px 40px">
    <mat-card-content class="dashboard-card-content">

      <mat-form-field appearance="outline" style="padding: 0px 0px;width: 450px;">
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event, inputPrefijo)" #inputGeneral>
</mat-form-field>

<mat-form-field appearance="outline" style="padding: 0px 0px;width: 300px; margin-left: 20px;">
  <mat-label>Buscar Prefijo</mat-label>
  <input matInput (keyup)="filtrarPorPrefijo($event, inputGeneral)" #inputPrefijo>
</mat-form-field>



      <div class="mat-elevation-z2">
        <table mat-table [dataSource]="dataSource">

          <!-- Codigo -->
          <ng-container matColumnDef="clientes_codigo">
            <th mat-header-cell *matHeaderCellDef style="width: 45px;background-color: #e3edf7;"> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.clientes_codigo}} </td>
          </ng-container>

          <!-- Nombre -->
          <ng-container matColumnDef="nomcli">
            <th mat-header-cell *matHeaderCellDef style="width: 140px;background-color: #e3edf7;"> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nomcli}} </td>
          </ng-container>

          <!-- Dirección -->
          <ng-container matColumnDef="dircli">
            <th mat-header-cell *matHeaderCellDef style="width: 150px;background-color: #e3edf7;"> Dirección </th>
            <td mat-cell *matCellDef="let element"> {{element.dircli}} </td>
          </ng-container>

          <!-- RUC -->
          <ng-container matColumnDef="ruc">
            <th mat-header-cell *matHeaderCellDef style="width: 110px;background-color: #e3edf7;"> RUC </th>
            <td mat-cell *matCellDef="let element"> {{element.ruc}} </td>
          </ng-container>

          <!-- Fecha Ingreso -->
          <ng-container matColumnDef="fecing">
            <th mat-header-cell *matHeaderCellDef style="width: 80px;background-color: #e3edf7;"> F.Ingreso </th>
            <td mat-cell *matCellDef="let element"> {{element.fecing | date:'dd/MM/yyyy'}} </td>
          </ng-container>

          <!-- Zona -->
          <ng-container matColumnDef="zonaReferencia">
            <th mat-header-cell *matHeaderCellDef style="width: 30px;background-color: #e3edf7;"> Zona </th>
            <td mat-cell *matCellDef="let element"> {{element.zonaReferencia}} </td>
          </ng-container>

          <!-- Estado -->
          <ng-container matColumnDef="estadoNombre">
            <th mat-header-cell *matHeaderCellDef style="width: 70px;background-color: #e3edf7;"> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.estadoNombre}} </td>
          </ng-container>

          <!-- Prefijo oculto -->
          <ng-container matColumnDef="prefijo">
            <th mat-header-cell *matHeaderCellDef style="display: none;"> Prefijo </th>
            <td mat-cell *matCellDef="let element" style="display: none;"> {{element.prefijo}} </td>
          </ng-container>

          <!-- Acciones -->
          <ng-container matColumnDef="codpre">
            <th mat-header-cell *matHeaderCellDef style="width: 60px;background-color: #e3edf7;"> Prefijo </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="editarPrefijosCliente(element)">
                <img src="assets/icons/ecop-.png" alt="Ver" width="20" height="20" />
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef style="width: 60px;background-color: #e3edf7;"> Acción </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="editarCliente(element)">
                <mat-icon>visibility_outline</mat-icon>
              </button>
            </td>
          </ng-container>


          <!-- Filas -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="seleccionarFila(row)"
            [class.selected-row]="row === selectedCliente">
          </tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="7">No data matching the filter "{{ filtroGeneral }}"</td>

          </tr>

        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>

    </mat-card-content>
  </mat-card>
</ng-container>

<!-- Vista cuando SÍ hay cliente seleccionado -->
<ng-template #menuConCliente>
  <app-navigation-producto></app-navigation-producto>
</ng-template>