<body>
  <div class="login-container">
    
    <!-- LOGO -->
    <div class="logo">
      <img src="assets/GS1-logo.png" alt="GS1 Logo">
    </div>

    <!-- TÍTULO -->
    <h3>Bienvenido</h3>

    <!-- INPUT USUARIO -->
    <div class="form-group">
      <div class="input-group">
        <label for="usuario">Usuario:</label>
        <img src="assets/person-icon.png" alt="Usuario">
        <input type="email" id="usuario" placeholder="gs1@gs1.com">
      </div>
    </div>
    
    <!-- INPUT CLAVE -->
    <div class="form-group">
      <div class="input-group">
        <label for="clave">Clave:</label>
        <img src="assets/hidden-icon.png" alt="Mostrar/Ocultar" id="toggleClave" style="cursor: pointer;">
        <input type="password" id="clave" placeholder="**************">
      </div>
    </div>
    
    

    <!-- OLVIDÓ CLAVE -->
    <div class="forgot">¿Has olvidado su contraseña?</div>

    <!-- BOTONES -->
    <div class="btn-group">
      <button class="btn siguiente" routerLink="/menus/">Iniciar Sesión</button>
      
    </div>

    <!-- PIE -->
    <div class="footer">
      Copyright © 2025
      <img src="assets/logo-tipo-3.png" alt="GAP System">
    </div>
  </div>
</body>
