<section class="departamento-form-container">
  <div class="form-card">
    <h1 class="form-title">{{ modoEdicion ? 'Editar Departamento' : 'Crear Departamento' }}</h1>

    <form *ngIf="departamentoForm" [formGroup]="departamentoForm">
      <div class="form-row">
        <div class="form-group">
          <label class="field-label">Nombre del Departamento*</label>
          <input class="field-input" formControlName="nombre" appUppercase />
          <div class="error" *ngIf="departamentoForm.get('nombre')?.invalid && departamentoForm.get('nombre')?.touched">
            Campo obligatorio
          </div>
        </div>

        <div class="form-group" *ngIf="modoEdicion">
          <label class="field-label">Estado*</label>
          <select class="field-input" formControlName="estado">
            <option [ngValue]="true">ACTIVO</option>
            <option [ngValue]="false">INACTIVO</option>
          </select>
        </div>
      </div>

      <div class="form-actions">
        <button type="button" class="btn btn-save" (click)="guardar()">Grabar</button>
        <button type="button" class="btn btn-cancel" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</section>
