<form [formGroup]="formUV" class="form-grid">
  <div class="form-row">
    <!-- Prefijo -->
    <mat-form-field appearance="outline">
      <mat-label>Prefijo (5 dígitos)</mat-label>
      <input matInput formControlName="prefijo" maxlength="5" />
    </mat-form-field>

    <!-- Serie -->
    <mat-form-field appearance="outline">
      <mat-label>Serie (opcional)</mat-label>
      <input matInput formControlName="serie" />
    </mat-form-field>

    <!-- GTIN generado -->
    <mat-form-field appearance="outline">
      <mat-label>GTIN UV generado</mat-label>
      <input matInput formControlName="gtinUv" readonly />
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="generar()">Generar GTIN</button>
  </div>
</form>
<div style="margin-top: 16px;">
  <label>Cantidad de filas:</label>
  <input type="number" [(ngModel)]="cantidadFilas" style="width: 60px;" />
  <button mat-raised-button color="accent" (click)="generarFilas()">Agregar Filas</button>
  <button mat-button color="warn" (click)="limpiarTabla()">Limpiar</button>
</div>

<!-- Pegar datos -->
<mat-form-field appearance="fill" class="textarea" style="margin-top: 16px; width: 100%;">
  <mat-label>Pegar datos desde Excel (columnas separadas por tabulador)</mat-label>
  <textarea matInput [(ngModel)]="textoPegado" rows="3"></textarea>
</mat-form-field>

<mat-checkbox [(ngModel)]="copiarDesdeColumna2">
  Pegar desde columna 2
</mat-checkbox>
<button mat-stroked-button color="primary" (click)="pegarColumnaGtinUv()">Pegar en tabla</button>

<!-- Mensaje -->
<div *ngIf="mensaje" style="margin-top: 12px; color: green;">
  {{ mensaje }}
</div>


<!-- Tabla AG-Grid -->
<ag-grid-angular
  class="ag-theme-alpine"
  style="width: 100%; height: 300px; margin-top: 10px;"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>

<!-- Controles de la tabla -->
