<div class="form-wrapper">
  <h1 class="form-title">{{ tituloFormulario }}</h1>

  <form [formGroup]="form" (ngSubmit)="grabar()">
    <div class="form-grid">
      <!-- Columna izquierda -->
      <div class="form-column">
        <!-- Descripción -->
        <div class="form-field">
          <label class="field-label required">Descripción</label>
          <input
            class="field-input"
            formControlName="descripcion"
            appUppercase
            (keypress)="CustomValidators.onlyLettersKeyPress($event)"
          />

        </div>
        <div class="error-message" *ngIf="form.get('descripcion')?.touched && form.get('descripcion')?.invalid">
          <small *ngIf="form.get('descripcion')?.errors?.['required']">Campo obligatorio.</small>
          <small *ngIf="form.get('descripcion')?.errors?.['onlyLetters']">Solo se permiten letras.</small>
        </div>


        <!-- Cuenta -->
        <div class="form-field">
          <label class="field-label required">Cuenta</label>
          <input
            class="field-input"
            formControlName="cuenta"
            placeholder="000000-000"
            (keypress)="CustomValidators.cuentaKeyPress($event)"
          />

        </div>
        <div class="error-message" *ngIf="form.get('cuenta')?.touched && form.get('cuenta')?.invalid">
          <small *ngIf="form.get('cuenta')?.errors?.['required']">Campo obligatorio.</small>
          <small *ngIf="form.get('cuenta')?.errors?.['cuentaFormato']">Formato inválido. Use 000000-000.</small>
        </div>

      </div>

      <!-- Columna derecha -->
      <div class="form-column">
        <!-- Empresa -->
        <div class="form-field">
          <label class="field-label required">Empresa</label>
          <input class="field-input" [value]="form.get('empresa')?.value || 'SIN EMPRESA'" disabled />
        </div>

        <!-- Estado -->
        <div class="form-field">
          <label class="field-label required">Estado</label>
          <select class="field-select" formControlName="estado">
            <option [ngValue]="true">ACTIVO</option>
            <option [ngValue]="false">INACTIVO</option>
          </select>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button type="submit" class="action-button">Grabar</button>
      <button type="button" class="action-button" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
