/* Importar primero la fuente */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Asegurar altura */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* Aplicar globalmente */
* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;  /* Buenas prácticas */
}

/* Opcional: Forzar Angular Material */
.mat-typography, .mat-button, .mat-input-element, .mat-list-item {
  font-family: 'Inter', sans-serif !important;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/*PopUps para mensajes*/
.toast-container {
  z-index: 9999 !important;
}

:host {
  overflow: visible !important;
}
.toast-top-right {
  top: 75px !important; /* Para que no se pegue al header */
  right: 20px !important;
}

.toast-container .ngx-toastr {
  margin-bottom: 12px; /* Espacio entre cada toast */
  box-shadow: 0px 2px 12px rgba(0,0,0,0.3);
  border-left: 4px solid #ffc107; /* Amarillo tipo advertencia */
  background-color: #f26334 !important; /* Azul corporativo */
  color: #fff !important;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
