<div class="contenedor-principal">
  <h2 class="titulo">Estructura Comercial</h2>

  <div class="filtros">
    <label>Tipo de Producto:</label>
    <label><input type="checkbox" /> Activos</label>
    <label><input type="checkbox" /> Inactivo</label>
  </div>

  <div class="estructura-contenido">
    <!-- Árbol de navegación -->
    <div class="panel-arbol">
      <ul class="arbol-navegacion">
        <li *ngFor="let empresa of empresas">
          <div (click)="toggleExpand(empresa)" (contextmenu)="abrirMenuContextual($event, empresa)">
            {{ empresa.expandido ? '🏢' : '🏬' }} {{ empresa.nombre }}
          </div>

          <ul *ngIf="empresa.expandido">
            <li *ngFor="let nivel1 of empresa.hijos">
              <div (click)="onNodoClick(nivel1)" (contextmenu)="abrirMenuContextual($event, nivel1)">
                {{ getIcono(nivel1) }} {{ nivel1.nombre }}
              </div>

              <ul *ngIf="nivel1.expandido">
                <li *ngFor="let nivel2 of nivel1.hijos">
                  <div (click)="onNodoClick(nivel2)" (contextmenu)="abrirMenuContextual($event, nivel2)">
                    {{ getIcono(nivel2) }} {{ nivel2.nombre }}
                  </div>

                  <ul *ngIf="nivel2.expandido">
                    <li *ngFor="let nivel3 of nivel2.hijos">
                      <div (click)="onNodoClick(nivel3)" (contextmenu)="abrirMenuContextual($event, nivel3)">
                        {{ getIcono(nivel3) }} {{ nivel3.nombre }}
                      </div>

                      <ul *ngIf="nivel3.expandido">
                        <li *ngFor="let nivel4 of nivel3.hijos">
                          <div (click)="onNodoClick(nivel4)" (contextmenu)="abrirMenuContextual($event, nivel4)">
                            {{ getIcono(nivel4) }} {{ nivel4.nombre }}
                          </div>

                          <ul *ngIf="nivel4.expandido">
                            <li *ngFor="let nivel5 of nivel4.hijos">
                              <div (click)="onNodoClick(nivel5)" (contextmenu)="abrirMenuContextual($event, nivel5)">
                                {{ getIcono(nivel5) }} {{ nivel5.nombre }}
                              </div>

                              <ul *ngIf="nivel5.expandido">
                                <li *ngFor="let grupo of nivel5.hijos">
                                  <div (click)="onNodoClick(grupo)" (contextmenu)="abrirMenuContextual($event, grupo)"
                                    [class.grupo]="true" [class.activo]="opcionSeleccionada?.nombre === grupo.nombre">
                                    📄 {{ grupo.nombre }}
                                  </div>
                                </li>
                              </ul>

                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>

        </li>
      </ul>

      <div *ngIf="menuContextualVisible" class="context-menu"
        [ngStyle]="{ top: posicionMenu.y + 'px', left: posicionMenu.x + 'px' }" (click)="$event.stopPropagation()">
        <ul>
          <li *ngIf="puedeCrear(nodoSeleccionado)" (click)="crearElemento()">
            ➕ Crear {{ obtenerTipoHijo(nodoSeleccionado?.tipo) }}
          </li>

          <li (click)="editarElemento()">✏️ Editar {{ nodoSeleccionado?.tipo }}</li>
        </ul>
      </div>
    </div>


    <div class="panel-tabla">
      <table class="tabla-estilo">
        <thead>
          <tr>
            <th>Id</th>
            <th>Cod. Pro</th>
            <th>Descripción</th>
            <th>Tip. Prod</th>
            <th>Codbar.</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productosFiltrados">
            <td>{{ producto.id_producto }}</td>
            <td>{{ producto.codpro }}</td>
            <td>{{ producto.despro }}</td>
            <td>{{ producto.tippro }}</td>
            <td>{{ producto.codbar }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
