<div class="login-container">
  <form [formGroup]="formReset" class="login-form">
    <div class="login-card">
      <div class="header-container">
        <img src="assets/logo/logo-gap.png" alt="Logo GAP" class="logo-image" />
        <h1 class="welcome-text">Restablecer contraseña</h1>
      </div>

      <!-- Nueva contraseña -->
      <div class="form-group">
        <label class="field-label">Nueva contraseña</label>
        <input type="password" class="input-field" formControlName="password" placeholder="Mínimo 6 caracteres" />
      </div>

      <!-- Confirmar contraseña -->
      <div class="form-group">
        <label class="field-label">Confirmar contraseña</label>
        <input type="password" class="input-field" formControlName="confirmPassword"
          placeholder="Repite la contraseña" />
      </div>

      <!-- Error si no coinciden -->
      <div *ngIf="formReset.errors?.['mismatch']" style="color: red; font-size: 13px;">
        Las contraseñas no coinciden.
      </div>

      <!-- Botón -->
      <div class="login-button-container">
        <button class="login-button" type="button" (click)="guardar()">
          Guardar contraseña
        </button>
      </div>
      <!-- Footer -->
      <div class="forgot-password">
        <a routerLink="/login">← Volver al login</a>
      </div>
    </div>
  </form>
</div>
