<body>
  <div class="login-container">
    <form [formGroup]="formReset" class="login-form" autocomplete="off">
      <div class="login-card">
        <div class="header-container">
          <img src="assets/logo/logo-gap.png" alt="Logo GAP" class="logo-image" />
          <h1 class="welcome-text">Restablecer contraseña</h1>
        </div>

        <!-- Nueva contraseña -->
        <div class="form-group">
          <label class="field-label">Nueva contraseña</label>
          <div class="input-con-icono">
            <img [src]="mostrarPassword ? 'assets/icons/icon-clave.png' : 'assets/icons/icon-clave-2.png'"
              (click)="togglePassword()" style="cursor: pointer;" alt="Ver/Ocultar" />
            <input [type]="mostrarPassword ? 'text' : 'password'" class="input-field" formControlName="password"
              placeholder="Mínimo 8 caracteres" autocomplete="new-password" />
          </div>


          <!-- Barra de seguridad -->
          <div *ngIf="formReset.get('password')?.value">
            <div class="security-bar-container">
              <div class="security-bar-fill" [ngClass]="{
          'security-weak': nivelSeguridad === 'Débil',
          'security-medium': nivelSeguridad === 'Media',
          'security-strong': nivelSeguridad === 'Alta'
        }"></div>
            </div>
            <div class="security-label">
              Seguridad: {{ nivelSeguridad }}
            </div>
          </div>
        </div>

        <!-- Confirmar contraseña -->
        <div class="form-group">
          <label class="field-label">Confirmar contraseña</label>
          <input type="password" class="input-field" formControlName="confirmPassword"
            placeholder="Repite la contraseña" autocomplete="new-password" />
        </div>

        <!-- Error si no coinciden -->
        <div *ngIf="formReset.errors?.['mismatch']" style="color: red; font-size: 13px;">
          Las contraseñas no coinciden.
        </div>

        <!-- Botón -->
        <div class="login-button-container">
          <button class="login-button" type="button" (click)="guardar()">Guardar contraseña</button>
        </div>

        <!-- Footer -->
        <div class="forgot-password">
          <a routerLink="/login">← Volver al login</a>
        </div>
      </div>
    </form>
  </div>
</body>
